---
import Container from "./Container.astro";
---

<div id="features">
  <Container>
    <div
      class="mt-16 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4"
    >
      <div
        class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="https://cdn-icons-png.flaticon.com/512/1995/1995609.png"
            class="w-12"
            width="512"
            height="512"
            alt="Project Management"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              Project-Based Work
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Tailored project solutions from start to finish, ensuring your
              business goals are met with precision and expertise.
            </p>
          </div>
        </div>
      </div>

      <div
        class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341139.png"
            class="w-12"
            width="512"
            height="512"
            alt="Staff Augmentation"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              Staff Augmentation
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Extend your team with our skilled professionals to accelerate your
              software development and meet critical deadlines.
            </p>
          </div>
        </div>
      </div>

      <div
        class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="https://cdn-icons-png.flaticon.com/512/2784/2784445.png"
            class="w-12"
            width="512"
            height="512"
            alt="Consultation"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              Consultative Services
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Strategic guidance to improve your software practices, optimize
              project execution, and refine system architectures.
            </p>
          </div>
        </div>
      </div>
      <div
        class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div <div class="relative space-y-8 py-12 p-8">
          <img
            src="https://cdn-icons-png.flaticon.com/512/1179/1179069.png"
            class="w-12"
            width="512"
            height="512"
            alt="Flexible Solutions"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              Flexible Solutions
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Offering versatility in our service delivery to align closely with
              your unique business requirements.
            </p>
          </div>
        </div>
      </div>
    </div>
  </Container>
</div>
