---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Comprehensive Software Solutions</h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300">At Optimistic Bits Consulting, we enhance your business capabilities through tailored software delivery improvements, efficient project management, and robust system architecture design. Let us help you innovate and scale with precision.</p>
                
                <div class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between">
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Streamlined Processes</h6>
                        <p class="mt-2 text-gray-500">Optimize your software lifecycle for faster delivery and reduced costs.</p>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Expert Project Management</h6>
                        <p class="mt-2 text-gray-500">Achieve your project goals with our customized, hands-on approach.</p>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Advanced Architectural Solutions</h6>
                        <p class="mt-2 text-gray-500">Build scalable, efficient systems designed to grow with your business.</p>
                    </div>
                </div>
            </div>
        </div>
    </Container>
</div>